html
    head
        title="Projet BDA"
        link(rel="stylesheet", href="/leaflet/leaflet.css")
        link(rel="stylesheet", href="/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/stylesheets/css/style.css")
        script(src="/leaflet/leaflet.js")
        script(src="/assets/js/home.js")

    body.min-vh-100.container-fluid

        div.min-vh-100.min-vw-100.row
            div.col-12#map

        div(style="z-index:1000").position-fixed.top-50.offset-1.translate-middle-y.col-3#modal
            div.rounded-2.shadow-lg.p-5.bg-white

        div(style="z-index:1000;").position-fixed.top-50.start-50.translate-middle
            div#pointer