form.mb-0
    h2.mb-4="Menu administrateur"

    div.form-check.mb-4.align-items-center
        input(type="checkbox").form-check-input#starting-points-checkbox
        label(for="starting-points-checkbox").form-check-label="Afficher les points de départ"
            br
            span.form-text="Liste de tous les points de départ possibles pour les trajets"

    div
        button(type="submit")#back-button.mb-0.btn.btn-secondary="Retour"

